name: Metrics
on:
  schedule: [{cron: "0 15 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.svg
          debug: yes
          config_display: large
          template: classic
          base: header, repositories
          config_timezone: Asia/Tokyo

          # People (Followers/Following)
          plugin_people: yes
          plugin_people_types: followers, following
          plugin_people_limit: 24
          plugin_people_size: 28

          # PageSpeed (APIキーを追加)
          plugin_pagespeed: yes
          plugin_pagespeed_url: https://github.com/0rnot
          #
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}

          # Introduction
          plugin_introduction: yes
          plugin_introduction_title: yes

          # Calendar
          plugin_calendar: yes
          plugin_calendar_limit: 1

          # Languages
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
